# ── Django ───────────────────────────────────────────────────
DJANGO_SECRET_KEY=GluZMfH87Dpo4X72pcTDwK9bheEZ65-fgneFoOD3X9r8WuRDvpglJZ68Si5EUPRGPE8
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# ── Neon PostgreSQL ──────────────────────────────────────────
# Paste your real Neon credentials below
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your_neon_password_here
DB_HOST=ep-green-smoke-asqet25x.c-4.eu-central-1.aws.neon.tech
DB_PORT=5432