DJANGO_SECRET_KEY=+bun@g+5ooa_t$)bc-)tzh^)wj6)@47c3g^3u83a!ok0$y_lw7
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=38.242.246.126

DB_NAME=drug_spot
DB_USER=drugspot_user
DB_PASSWORD=DrugSpot123
DB_HOST=localhost
DB_PORT=5432
